<!-- <table class="table table-striped">  
    <thead>  
        <tr>  
            <th>BookId</th>  
            <th>Name</th>  
            <th>Author</th>  
            <th>Price</th>  
            <th>Quantity</th>  
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let book of books">  
            <td>{{book.bid}}</td>  
            <td>{{book.name}}</td>  
            <td>{{book.author}}</td>  
            <td>{{book.price}}</td>  
            <td>{{book.quantity}}</td> 
        </tr>  
    </tbody>  
</table>   -->


    <div class="row">
        <div class="col-sm-4" *ngFor="let book of books">
            <div class="card">
                <div class="img-avatar">
                    <img src="https://www.pexels.com/photo/woman-in-collared-shirt-774909/" alt="">
                </div>
                <div class="card-text">
                    <div class="portada"></div>
                    <div class="title-total">   
                        <div class="title">{{book.author}}</div>
                        <h2>{{book.name}}</h2>
                    
                        <div class="desc">{{book.info}}.</div>
                        <div class="actions">
                            <h4>Rs.{{book.price}}</h4>
                            <h4>{{book.quantity}} qty</h4>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </div>
