<div class="container">
    <div class="form-group">
        <label for="usr">Enter BookId: </label>
        <input type="text" [(ngModel)]="bookId" class="form-control" id="usr">
    </div>
    <button (click)="getBooksById()" type="button" class="btn btn-primary btn-block">Search</button>
</div>

<div class="row">
    <div class="col-sm-4" *ngFor="let book of bookList">
        <div class="card">
            <div class="img-avatar">
                <img src="https://www.pexels.com/photo/woman-in-collared-shirt-774909/" alt="">
            </div>
            <div class="card-text">
                <div class="portada"></div>
                <div class="title-total">   
                    <div class="title">{{book.author}}</div>
                    <h2>{{book.name}}</h2>
                
                    <div class="desc">{{book.info}}.</div>
                    <div class="actions">
                        <h4>Rs.{{book.price}}</h4>
                        <h4>{{book.quantity}} qty</h4>
                    </div>
                </div>
            </div> 
        </div>
    </div>

</div> 